@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');

:root {
	--font-body: 'Poppins', 'Open Sans', BlinkMacSystemFont, system-ui;
	--font-mono: monospace;
	--color-bg-0: #3C3941;
	--color-bg-1: rgba(43, 41, 46, 1);
	--color-theme-1: rgba(157, 139, 187, 1);
	--color-theme-2: #C43573;
	--color-text: rgba(255, 244, 219, 1);
	--color-shadow: rgba(255, 244, 219, 0.5);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	background-color: var(--color-bg-0);
	min-height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.3rem;
	font-weight: 600;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

label {
	display: block;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.accent-text {
	color: var(--color-theme-1);
}
.title {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 10rem;
}
.timer {
	display: flex;
	align-items: center;
	justify-content: center;
}
.timer-container {
	width: 360px;
	height: 360px;
	position: relative;
	align-items: center;
	justify-content: center;
}
.progress-timer {
	border-radius: 50%;
	align-items: center;
	display: flex;
	justify-content: center;
}

.progress-circle {
	align-items: center;
	justify-content: center;
}
.outer-circle {
	width: 360px;
	height: 360px;
	box-shadow: 0px 0px 28px 0px var(--color-shadow);
	background-color: var(--color-text);
}
.inner-circle {
	width: 320px;
	height: 320px;
	box-shadow: inset 0px 0px 28px 0px var(--color-shadow);
	background-color: var(--color-bg-0);
}
.time-count {
	font-weight: 100;
	font-size: 4rem;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}

.settings {
	position: absolute;
	left: 0;
	margin-left: 1rem;
	width: 50px;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
}
.btn {
	border: none;
	background-color: transparent;
	margin-bottom: 1.2rem;
	color: var(--color-text);
	align-items: center;
	justify-content: center;
}
.btn i {
	font-size: 28px;
}
.btn:hover i {
	color: var(--color-theme-1);
}

.timer-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 340px;
	height: 340px;
	border-radius: 50%;
	background-color: transparent;
	border: none;
	text-align: center;
	align-items: center;
	justify-content: center;
	color: var(--color-text);
}
.timer-btn p {
	font-weight: 100;
}

.timer-btn .hover {
	font-size: 42px;
	stroke: none;
}
.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 2;
}
.modal-content {
	width: 85vw;
	max-width: 35rem;
	margin: 0 auto;
	margin-top: 5rem;
	padding: 3rem;
	position: relative;
	background: var(--color-bg-0);
	border-radius: 10px;
}
.modal-container .close-btn {
	position: absolute;
	top: 12%;
	right: 8%;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
	font-size: 25px;
	color: rgb(249, 126, 126);
}
.modal-container .close-btn:hover {
	color: var(--color-text);
}
.modal-container .instructions {
	font-weight: 100;
	font-style: italic;
}
.modal-container h2 {
	color: var(--color-theme-1);
}
.modal-container input {
	color: var(--color-text);
	background-color: rgba(255, 255, 255,0.35);
	border-radius: 5px;
	border: none;
	font-size: 1.8rem;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 50px;
	padding-left: 2%;
}
.timer-settings {
	position: relative;
}